<!DOCTYPE html>
<html>
<head>
    <title>多摄像头多目标追踪实时流量统计</title>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 30%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>
</head>
<body>

    <h1> 多摄像头多目标追踪实时流量统计 </h1>


<div class="clearfix">
  <div class="img-container">
        <p align="center">Live stream 1</p>
        <img src="{{ url_for('video_feed', feed_type='yolo', device=0) }}" class="center"  style="border:1px solid black;width:100%" alt="Live Stream 1">
  </div>
  <div class="img-container">
        <p align="center">Live stream 2</p>
        <img src="{{ url_for('video_feed', feed_type='yolo', device=1) }}" class="center"  style="border:1px solid black;width:100%" alt="Live Stream 2">
  </div>
</div>

</body>
</html>
